* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000 url('/static/cyborg.png') no-repeat center center fixed;
  background-size: cover;
}

.input-container {
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container input,
.input-container button {
  padding: 10px;
  font-size: 20px; /* Змінимо розмір шрифту для полів вводу та кнопок */
  border: 2px solid #FFFF00;
  background: rgba(0, 0, 0, 0.2);
  color: #FFFF00;
  font-weight: 600;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.input-container input {
  width: 75%;
  height: auto; /* Робимо висоту поля вводу автоматичною, щоб вона відповідала розміру кнопки */
}

.input-container button {
  width: auto; /* Змінимо ширину кнопки на автоматичну, щоб вона відповідала розміру тексту */
}

.button {
  outline: 0;
  position: relative;
  display: inline-block;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  color: #000;
  font-weight: 600;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.button:hover {
  background-color: #FFFF00;
  color: #000;
  box-shadow: 0 0 5px #FFFF00, 0 0 20px rgb(255 255 0 / 0.8), 0 0 35px rgb(255 255 0 / 0.7), 0 0 50px rgb(255 255 0 / 0.6);
  border-color: #fff;
}
