<!DOCTYPE html>
<html>
<head>
    <title>Run YouTube, Save Repo, and Site URL Scripts</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #15747a;
        }

        .input-container {
            text-align: center;
        }

        .input-container input {
            width: 300px;
            padding: 10px;
            border: 1px solid #18157a;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <label>YouTube:</label>
    <input type="text" id="youtube_url" placeholder="YouTube">
    <button type="button" onclick="runYoutubeScript()">Run</button>
    <br>
    <label>Repo:</label>
    <input type="text" id="repo_url" placeholder="Repo">
    <button type="button" onclick="runSaveRepoScript()">Run</button>
    <br>
    <label>Site:</label>
    <input type="text" id="site_url" placeholder="Site">
    <button type="button" onclick="runSiteUrlScript()">Run</button>
    <script>
        function runYoutubeScript() {
            var youtube_url = document.getElementById("youtube_url").value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/run_youtube", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert(xhr.responseText);
                }
            };
            xhr.send("youtube_url=" + youtube_url);
        }

        function runSaveRepoScript() {
            var repo_url = document.getElementById("repo_url").value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/save_repo", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert(xhr.responseText);
                }
            };
            xhr.send("repo_url=" + encodeURIComponent(repo_url));
        }

        function runSiteUrlScript() {
            var site_url = document.getElementById("site_url").value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/site_url", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert(xhr.responseText);
                }
            };
            xhr.send("site_url=" + encodeURIComponent(site_url));
        }
    </script>
</body>
</html>
